.section {
  height: 740px;
  padding: 100px 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;
}

.heading {
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: 48px;
  line-height: 100%;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  width: 18px;
  height: 18px;
  background: var(--main-accent-back);
  color: var(--main-text);
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.sc-conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sc-conteiner h2 {
  font-size: 3rem;
}

.sc-conteiner a {
  padding: 10px;
  font: 1.2rem;
  background-color: var(--main-accent-back);
  color: var(--main-text);
  margin-top: 1rem;
}

.hidden {
  display: none;
}

.input.error {
  color: red;
}
