.back-homepage {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.back-homepage ion-icon {
  font-size: 24px;
  color: var(--main-accent-back);
}

.back-homepage span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-accent-back);
}

.cart-s-title {
  font-size: 2.6rem;
  margin: 2rem 0;
}

.cart-box {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 1rem;
}

#cartItems {
  display: grid;
  row-gap: 1rem;
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid var(--dark-blue);
  padding-bottom: 10px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
}

.cart-title-price {
  display: grid;
  gap: 8px;
}

.cart-item-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.cart-item-price {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}

.quantity-controls button {
  width: 32px;
  height: 32px;
  border: 1.6px solid var(--main-accent-back);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  color: var(--light-blue);
}

.quantity-controls button:hover {
  background-color: var(--light-blue);
  border-color: var(--blue-hover);
}

.quantity-controls ion-icon {
  color: var(--dark-blue);
  font-size: 17px;
}

.quantity-controls input {
  width: 40px;
  text-align: center;
  border: none;
  font-weight: 500;
  color: var(--dark-blue);
  background: transparent;
  font-size: 0.95rem;
}

.remove-from-cart ion-icon {
  color: var(--main-accent-back);
  font-size: 24px;
  cursor: pointer;
}

.remove-from-cart ion-icon:hover {
  color: var(--blue-hover);
}

.cart-t {
  display: flex;
  flex-direction: column;
}

#cartTotal {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.checkout-btn {
  margin-top: 2rem;
  background: var(--main-accent-back);
  color: var(--main-text);
  text-align: center;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  max-width: 150px;
}

.checkout-btn:hover {
  background: var(--blue-hover);
}
