.home {
  position: relative;
  min-height: 700px;
}

.home-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}

.home-img img {
  min-width: 1200px;
  width: 100%;
}
