* {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  background-color: var(--background-color);
  color: var(--main-accent-back);
}

img {
  width: 100%;
}

section {
  padding: 4rem 0 2rem;
}

.container {
  max-width: 1070px;
  margin: auto;
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  height: 12%;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--main-accent-back);
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
}

.logo {
  font-size: 1.5rem;
  color: var(--main-text);
  text-transform: uppercase;
  font-weight: 700;
}

.navbar {
  display: flex;
  column-gap: 1rem;
  margin: 0 auto;
}

.nav-link {
  font-size: 1.025rem;
  color: var(--main-text);
  font-weight: 700;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.product {
  position: relative;
  background: var(--grey);
  color: var(--dark-blue);
  height: 400px;
}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 0 2px #61605e;
}

.product-info {
  padding: 2px 10px;
}

.product-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.8rem 0 0.5rem;
}

.product-price {
  font-weight: 600;
  padding: 4px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.product .add-to-cart {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--main-accent-back);
  color: var(--light-blue);
  font-weight: 600;
  letter-spacing: 1px;
  justify-self: center;
  padding: 10px 0;
  margin-top: 0.6rem;
  text-align: center;
  cursor: pointer;
  border: none;
  display: block;
}

.product .add-to-cart:hover {
  background: var(--blue-hover);
}

.heading {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

.cart-link,
.account {
  color: var(--main-text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-link {
  position: relative;
  margin-right: 18px;
  font-size: 1.8rem;
}

.account {
  font-size: 35px;
}

#cart-icon {
  font-size: 1.8rem;
  color: var(--main-text);
  cursor: pointer;
}

#cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  width: 18px;
  height: 18px;
  background: var(--main-accent-back);
  color: var(--main-text);
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #7fa5d1;
  text-align: center;
  font-size: 18rem;
}

.sc-conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sc-conteiner h2 {
  font-size: 3rem;
}

.sc-conteiner a {
  padding: 10px;
  font: 1.2rem;
  background-color: var(--main-accent-back);
  color: var(--main-text);
  margin-top: 1rem;
}

.footer {
  background: var(--main-accent-back);
  padding: 40px 0;
  height: 250px;
}

.footer-c {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
}

.footer-box {
  display: flex;
  flex-direction: column;
}

.footer-box h2 {
  font-size: 2.6rem;
  text-transform: uppercase;
  color: var(--main-text);
  margin-bottom: 2rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social ion-icon {
  color: var(--main-text);
  font-size: 28px;
}

.footer-box h3 {
  font-size: 1.2rem;
  color: var(--main-text);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-box a {
  color: var(--main-text);
  font: 1rem;
  margin-bottom: 10px;
}

.copyright {
  color: var(--main-text);
  text-transform: uppercase;
  padding-top: 29px;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: rgba(240, 236, 227, 0.8);
  backdrop-filter: blur(4px);
  width: 380px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease, height 0.2s ease;
  z-index: 200;
  color: var(--main-accent-back);
  backdrop-filter: blur(6px);
}

.wrapper.active-popup {
  transform: translate(-50%, -50%) scale(1);
}

.wrapper.active {
  height: 470px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.8em;
  color: var(--main-accent-back);
  cursor: pointer;
  z-index: 10;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  position: absolute;
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transform: translateX(-400px);
  transition: none;
}

.wrapper .form-box.register {
  position: absolute;
  transform: translateX(400px);
  transition: none;
}

.wrapper.active .form-box.register {
  transform: translateX(0);
  transition: transform 0.18s ease;
  justify-content: center;
  align-items: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--main-accent-back);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--main-accent-back);
  transition: 0.5s;
  pointer-events: none;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--main-accent-back);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
}

.btn {
  width: 100%;
  height: 45px;
  background: var(--main-accent-back);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: var(--main-text);
  font-weight: 600;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background: var(--blue-hover);
}

.login-register {
  font-size: 0.9em;
  text-align: center;
  margin: 25px 0 10px;
}

.login-register a {
  color: var(--main-accent-back);
  text-decoration: none;
  font-weight: 600;
}

.login-register a:hover {
  text-decoration: underline;
}
