.home {
  position: relative;
  min-height: 700px;
}

.home-img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}

.home-img img {
  min-width: 1200px;
  width: 100%;
}

.heading {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.product {
  position: relative;
  background: #efeeea;
  color: #2b4156;
  height: 400px;
}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 0 2px #61605e;
}

.product-info {
  padding: 2px 10px;
}

.product-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.8rem 0 0.5rem;
}

.product-price {
  font-weight: 600;
  padding: 4px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.product .add-to-cart {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5e83ae;
  color: #efeeea;
  font-weight: 600;
  letter-spacing: 1px;
  justify-self: center;
  padding: 10px 0;
  margin-top: 0.6rem;
  text-align: center;
  cursor: pointer;
  border: none;
  display: block;
}

.product .add-to-cart:hover {
  background: #7fa5d1;
}
