* {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #e6e6da;
  color: #5e83ae;
}

img {
  width: 100%;
}

section {
  padding: 4rem 0 2rem;
}

.container {
  max-width: 1070px;
  margin: auto;
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  height: 12%;
  top: 0;
  left: 0;
  z-index: 100;
  background: #5e83ae;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.logo {
  font-size: 1.5rem;
  color: #f6eacc;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  column-gap: 1rem;
}

.nav-link {
  font-size: 1.025rem;
  color: #f6eacc;
  font-weight: 700;
}
