:root {
  --background-color: #e3e9ed;
  --main-accent-back: #5e83ae;
  --main-text: #f2f3ee;
  --light-blue: #ebf5f6;
  --dark-blue: #465c71;
  --blue-hover: #82b1e5;
  --title-blue: #7fa5d1;
  --grey: #f4f4f4;
}
