.account {
  height: 100vh;
}

.account-container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 52px;
  font-size: 18px;
}

.vertical-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  bottom: 0;
  margin-left: 160px;
}

.link {
  color: var(--main-accent-back);
  border-radius: 8px;
  padding: 12px 15px;
  transition: background-color 0.3s;
}

.link.active {
  background-color: var(--blue-hover);
  color: var(--main-text);
}

.info-block {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 400px;
  padding: 24px;
  background-color: var(--light-blue);
  border-radius: 32px;
  overflow: auto;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.change-btn {
  bottom: 0;
}
