.admin-dashboard-section {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.admin-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 340px;
  height: 280px;
  border-radius: 24px;
  padding: 24px;
  background-color: var(--grey);
}

.title-control {
  margin: 0;
  margin-bottom: 12px;
}

.admin-control {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  width: 100%;
  gap: 24px;
}

.admin-btn {
  display: block;
  width: 100%;
  background: var(--main-accent-back);
  color: var(--light-blue);
  padding: 12px;
  border-radius: 12px;
  font-weight: 600;
  transition: background 0.3s;
}

.admin-btn:hover {
  background: var(--blue-hover);
  color: var(--main-text);
}

.previewImage {
  margin-top: 10px;
  max-width: 100%;
  display: none;
}

.order-card-content {
  display: flex;
  justify-content: space-between;
  background: var(--grey);
  border-radius: 12px;
  padding: 24px 48px;
}

.order-details-wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-basis: 50%;
}

.orderImg {
  width: 80px;
  height: 80px;
}

.order-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.order-controls {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: end;
}

.item {
  margin-left: 8px;
}
