.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-box {
  display: flex;
  gap: 64px;
}

.cart-data {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.cartItems {
  display: grid;
  row-gap: 1rem;
}

.cart-item {
  display: grid;
  grid-template-columns: 0.5fr 1.2fr 1fr 0.5fr;
  align-items: center;
  border-bottom: 1px solid var(--dark-blue);
  padding: 12px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
}

.cart-title-price {
  display: grid;
}

.cart-item-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.cart-item-price {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  width: 32px;
  height: 32px;
  border: 1.6px solid var(--main-accent-back);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--light-blue);
}

.quantity-controls button:hover {
  background-color: var(--light-blue);
  border-color: var(--blue-hover);
}

.quantity-controls ion-icon {
  color: var(--dark-blue);
  font-size: 17px;
}

.quantity-controls input {
  width: 40px;
  text-align: center;
  border: none;
  font-weight: 500;
  color: var(--dark-blue);
  background: transparent;
  font-size: 0.95rem;
}

.remove-from-cart ion-icon {
  color: var(--main-accent-back);
  font-size: 24px;
  cursor: pointer;
}

.remove-from-cart ion-icon:hover {
  color: var(--blue-hover);
}

.cart-total {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#cartTotal {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.checkout-btn {
  background: var(--main-accent-back);
  color: var(--main-text);
  text-align: center;
  padding: 10px;
  font-weight: 600;
  width: 100%;
}

.checkout-btn:hover {
  background: var(--blue-hover);
}
