.form-container {
  display: flex;
  flex-direction: column;

  width: 700px;
  height: 100%;
  margin: 0 auto;
  gap: 52px;
}

.title-control {
  font-size: 44px;
}

.groups {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.form-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.field-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  font-size: 20px;
  margin-top: 12px;
  color: var(--main-accent-back);
  font-weight: 600;
}

.input-control {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--main-accent-back);
  outline: none;
  color: var(--main-accent-back);
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.input-control::placeholder {
  color: var(--dark-blue);
}

.group-row {
  display: flex;
  gap: 32px;
}

.small {
  width: 100px;
}
