.hero-section {
  position: relative;
  background: url("/images/hero-background.jpg") center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-text {
  display: flex;
  justify-content: center;
  font-size: 240px;

  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: var(--main-accent-back);
  text-align: center;
}
