.back-cart {
  display: flex;
  align-items: center;
  padding: 30px 0;
  margin: 0 60px;
  font-size: 1.3rem;
}

.back-cart ion-icon {
  color: var(--main-accent-back);
}

.back-cart span {
  font-weight: 600;
  color: var(--main-accent-back);
}

.checkout-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 32px 32px;
}

.checkout-left {
  background-color: var(--light-blue);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
}

#house,
#apartment {
  max-width: 4rem;
}

#house {
  margin-bottom: 0.6rem;
}

#phone {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hidden {
  display: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cart-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-title-price {
  display: grid;
}

.cart-item-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.quantity-display {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 2rem;
}

.totalPrice {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.return {
  text-align: right;
  margin-top: 1.2rem;
}
