.input-box {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--main-accent-back);
  margin: 30px 0;
}

.input-box .label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--main-accent-back);
  transition: 0.3s;
  pointer-events: none;
}

.input-box .input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: var(--main-accent-back);
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.icon-logo-mail,
.icon-lock-closed {
  position: absolute;
  right: 8px;
  font-size: 24px;
  line-height: 57px;
  fill: var(--main-accent-back);
}
