.btn {
  width: 100%;
  height: 44px;
  bottom: 0;
  left: 0;
  display: inline-block;
  background: var(--main-accent-back);
  color: var(--main-text);
  padding: 12px 0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  transition: background 0.3s;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  line-height: 100%;
}

.btn:hover {
  background: var(--blue-hover);
}

.add-to-cart-btn {
  position: absolute;
  border-radius: 0;
}
